@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,700&display=swap");

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
  background-color: rgb(240 240 240);
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.todo-container {
  background-color: white;
  width: 100%;
  padding: 1rem;
}

.disable-default {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-header {
  padding: 0;
  margin: 0 0 0.5rem;
}

.todo-input {
  border: none;
  font-size: initial;

  /* margin: 0.5rem 0 0.5rem; */
  width: 100%;
  padding: 0.5rem;
}

.todo-item {
  margin: 0.5rem 0;
}

.todo-checkbox {
  margin-right: 1rem;
}

.clear {
  display: flex;
  justify-content: center;
  background-color: rgb(240 240 240);
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .todo-container {
    width: 60%;
  }
}
