/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable property-no-vendor-prefix */
@import url("https://fonts.googleapis.com/css2?family=Poppins:300,400,500,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
  background-color: rgb(240 240 240);
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.todo-container {
  background-color: white;
  min-width: fit-content;
  width: 60%;
}

.todo-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid lightgray;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(169, 169, 169, 1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(169, 169, 169, 1);
  box-shadow: 5px 5px 10px 0px rgba(169, 169, 169, 1);
}

.disable-default {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-header {
  margin: 0;
  width: 100%;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.plr {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.todo-text {
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0;
}

.todo-input {
  border: none;
  font-size: initial;
  padding: 0;
  max-width: max-content;
  margin: 0.5rem;
  font-family: inherit;
  font-style: italic;
}

.todo-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  align-items: center;
}

.bottom-border {
  border-bottom: 1px solid lightgray;
}

.todo-checkbox {
  margin-right: 1rem;
}

.clear {
  display: flex;
  justify-content: center;
  background-color: rgb(240 240 240);
  padding: 1rem;
  align-self: center;
  font-weight: 300;
  cursor: pointer;
}

.todo-hr {
  width: 100%;
  color: rgb(240 240 240);
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.todoitem-span {
  width: 100%;
  display: flex;
  justify-content: start;
}

.click-icon {
  cursor: pointer;
}

.drag-icon {
  cursor: move;
  cursor: grab;
}

.disable-outline:focus {
  outline: none;
}

.todo-edit {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
  padding: 0;
}

.todo-span {
  display: flex;
  flex-direction: row;
}

.todo-span-reversed {
  flex-direction: row-reverse !important;
}

.todo-desc {
  align-self: center;
}

.completed-todo {
  text-decoration: line-through;
  color: lightgray;
}

.refresh {
  transform: rotate(360);
  transition: transform 0.5s;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .todo-container {
    width: 25rem;
  }
}
